body {
  /* center everything */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* fill the page */
  height: 100vh;
  background-color: #FFF9F0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* center */
  display: flex;
  justify-content: center;
  /* full width */
  width: 100vw;
  /* align-items: center; */
  /* height: auto; */
  background-color: #ffe9c8;
  margin-bottom: 1em;
  box-shadow: 0px 1px 7px #554546
}

#logo {
  height: 100px;
}


#tutorialSection {
  /* breathing */
  margin: 0 2em;
  /* readability */
  max-width: 80ch;
}

h1,
h2 {
  /* space  & grouping*/
  margin: 0.5em 0 0.2em 0;
  font-size: 2em;
}

#navSection {
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 1em;
  padding: 1em;
  display: inline;
  min-width: 8em;
  border-radius: 1em;
  border-color: #555454;
  box-shadow: 3px 3px 5px #554546;
}

button:hover {
  background-color: #ddd;
}

#buttonHigh {
  background-color: #A0ECE3;
}

#buttonLow {
  background-color: #A0BEEC;
}
/* RESULTS SECTION */

.results-section {
  
  text-align: left;
  padding: 1em 2em;
  border-radius: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.results-win {
  background-color: #78e35b;
  border-color: black;
  /* border-color: #b4b6d3; */      /*Not sure which one looks better*/
  border-style: solid;

}

.results-loss {
  background-color: #b84242;
  border-color: black;
  /* border-color: #b4b6d3; */
  border-style: solid;
}

.results-draw {
  background-color: #bfc0c9;
  border-color: black;
  /* border-color: #b4b6d3; */
  border-style: solid;
}

.game-num{
  text-align: center;
}
.hidden {
  display: none;
}

.date-time-container{
  display: flex;
  flex-direction: row;
  
}

.delete {
  height: 30px;
  align-items: center;
}

/* Responsive */
@media only screen and (min-width: 600px) {

  .results-section,
  .date-time-container
  {
    display: flex;
    justify-content: center;
    gap: 2em;
    
  }
  .results-section{
    min-width: 500px;
    margin-bottom: 2em; /* somehow when I change this one to 2em it works on the non-media*/
  }
 .game-num{
  margin-right: 2em;
 }
}
