body {
  /* center everything */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* fill the page */
  height: 100vh;
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* center */
  display: flex;
  justify-content: center;
  /* full width */
  width: 100vw;
  /* align-items: center; */
  /* height: auto; */
  background-color: #000;
  margin-bottom: 1em;
}

#logo {
  height: 100px;
}

#tutorialSection {
  /* breathing */
  margin: 0 2em;
  /* readability */
  max-width: 80ch;
}

h1,
h2 {
  /* space  & grouping*/
  margin: 0.5em 0 0.2em 0;
  font-size: 2em;
}

#navSection {
  margin: 2em;
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 1em;
  padding: 1em;
  display: inline;
  min-width: 8em;
  border-radius: 1em;
  border-color: #555454;
  box-shadow: 3px 3px 5px #554546;
}

button:hover {
  background-color: #ddd;
}

#buttonHigh {
  background-color: #A0ECE3;
}

#buttonLow {
  background-color: #A0BEEC;
}
/* RESULTS SECTION */

.results-section {
  
  text-align: left;
  padding: 1em 2em;
  border-radius: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
  /* display: flex;
  flex-direction: column; */
}

.results-win {
  background-color: #78e35b;

}

.results-loss {
  background-color: #b84242;
}

.results-draw {
  background-color: #bfc0c9;
}

.game-num{
  text-align: center;
}
.hidden {
  display: none;    /* elements no longer displayed with the class*/
}

.date-time-container{
  display: flex;
  flex-direction: row;
  
}

/* Responsive */
@media only screen and (min-width: 600px) {

  .results-section,
  .date-time-container
  {
    display: flex;
    justify-content: center;
    gap: 2em;
    
  }
  .results-section{
    min-width: 500px;
    margin-bottom: 2em; /* somehow when I change this one to 2em it works on the non-media*/
  }
 .game-num{
  margin-right: 2em;
 }
}

/* .results-flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .results-table {
  background-color: rgb(207, 207, 207);
  padding: 15px;
  border-radius: 20%;
} */
